body {
  font-family: 'Arial', sans-serif;
}

.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1000px;
}

.definitions p {
  font-size: 0.7em;
}

.controlpanel {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 10%;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  margin: 10px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.controlpaneltwo {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 2%;
}